:root {
  --red: #880000;
  --lyric-margin: 2pt;
  --neume-font-size: 20pt;
  --lyric-font-size: 12pt;
}

pre[data-lang='html'] {
  height: 250px;
}

pre[data-lang='css'] {
  height: 250px;
}

x-spacer-vareia,
x-spacer-apostrofos {
  font-size: var(--neume-font-size);
}

.martyria,
.accidental,
.gorgon,
.fthora,
x-heteron,
x-heteron-connecting,
x-endofonon {
  color: var(--red);
}

.page-container {
  font-size: var(--neume-font-size);
  text-align: center;
}

.page {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

x-lyric {
  font-size: var(--lyric-font-size);
  position: relative;
  top: -8px;
  margin: 0 var(--lyric-margin);
}

x-melisma {
  font-size: var(--lyric-font-size);
  margin-left: calc(-1 * var(--lyric-margin));
}

x-drop-cap {
  font-size: 60pt;
  color: var(--red);

  position: relative;
  top: 32px;
  line-height: 0;
}

.mode-key {
  font-size: 20pt;
  color: var(--red);
}

.mode-key x-mode-first {
  margin-right: 8pt;
  position: relative;
  top: 8px;
}

.martyria.align-right {
  margin-left: auto;
}
