:root {
  --red: #880000;

  --byz-neume-font-size: 20pt;

  --byz-lyric-font-family: Arial, san-serif;
  --byz-lyric-font-size: 12pt;
  --byz-lyric-offset-h: 4pt;
  --byz-lyric-offset-v: -3pt;

  --byz-drop-cap-font-size: 60pt;
  --byz-drop-cap-color: var(--red);
  --byz-drop-cap-offset-v: 24pt;

  --byz-color-accidental: var(--red);
  --byz-color-fthora: var(--red);
  --byz-color-gorgon: var(--red);
  --byz-color-heteron: var(--red);
  --byz-color-martyria: var(--red);
}

pre[data-lang='html'] {
  height: 250px;
}

pre[data-lang='css'] {
  height: 250px;
}

.page-container {
  font-size: var(--neume-font-size);
  text-align: center;
}

.page {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  font-size: 20pt;
}

.mode-key {
  font-size: 20pt;
  color: var(--red);
}

.mode-key x-mode-first {
  margin-right: 8pt;
  position: relative;
  top: 8px;
}

x-martyria.align-right {
  margin-left: auto;
}