:root {
  --red: #880000;

  --byz-neume-font-family: Neanes;
  --byz-neume-font-size: 20pt;

  --byz-lyric-font-family: Arial, san-serif;
  --byz-lyric-font-size: 12pt;
  --byz-lyric-offset-h: 2pt;
  --byz-lyric-offset-v: -6pt;

  --byz-drop-cap-font-size: 60pt;
  --byz-drop-cap-offset-v: 16pt;
}

pre[data-lang='html'] {
  max-height: 250px;
}

.accidental,
.gorgon,
.fthora,
.ison-indicator,
x-martyria> :not(.agogi),
x-heteron,
x-heteron-connecting,
x-endofonon {
  color: var(--red);
}

x-drop-cap {
  color: var(--red);
}

.mode-key {
  font-size: 20pt;
  color: var(--red);
}

.mode-key x-mode-first {
  margin-right: 8pt;
  position: relative;
  top: 8px;
}

x-martyria.align-right {
  margin-left: auto;
}

.filler {
  margin-left: auto;
}